#register-form{
    background-color:black;
    border:1px solid white;
    border-radius:5px;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    color:white;
    padding:10px;
}

#reigster-page{
    margin-top:10px;
}

#reigster-page input{
    background-color:transparent;
    color:white;
}

#register-button-div{
    margin-top:10px;
}

