

.divesite-container h1 {
  text-align: center;
  width:100%;
  color: #212529;
}

.diveSite_container h1 {
  text-align: center;
  width:100%;
  color: #212529;
}

.diveSite_container{
  width:100%;
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
}

.diveSite_container p{
  margin:5px 20px 5px 20px;
}

p {
  text-align: center;
}

#divesite-detail-div{
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  width:100%;
}

.map-container{
  width:100%;
}