ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

li {
  font-size: 1.0rem;
  text-decoration: white;
}

.navBar {
  background: rgb(31, 41, 233);
  box-shadow: 4px 2px 5px gray;
  color: white;
  margin-bottom: 2rem;
  padding: 1.0rem 2rem;
}

.navBar button {
  background: transparent;
  border: 2px solid white;
  color: white;
  padding: 0.4rem 0.5rem;
}

.navBar button:hover {
  background: rgb(23, 21, 21);
  color: rgb(226, 229, 231);
  cursor: pointer;
}

.brand {
  cursor: pointer;
  font-size: 2.5rem;
  background: linear-gradient(90deg,white,red);
  text-transform: initial;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

